<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igavin.microsvc.dao.mapper.UserMapper">

    <select id="getTopOne" parameterType="string" resultType="string">
        SELECT User
        FROM user
        limit 1
    </select>

</mapper>